body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/bg.jpg);
    /* height: 1000px; */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: sans-serif;
}

.master-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* header - nav */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub {
    text-decoration: none;
    color: white;
    margin-right:60px;
    font-size: 0.7rem;
    font-weight: 100;
}

.contact>a img {
    height: 40px;
    margin: 5px;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
}

.nav a{
    background: rgb(166, 53, 53);
    color: white;
    text-decoration: none;
    font-weight: 100;
    width: 23%;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 1px 0 rgb(153, 151, 151);
       -moz-box-shadow: 1px 1px 1px 0 rgb(153, 151, 151);
            box-shadow: 1px 1px 1px 0 rgb(153, 151, 151);
}

.nav a:active {
    color: rgb(189, 189, 189);
    background: rgb(196, 69, 69);
    -webkit-box-shadow: inset 1px 1px 6px rgb(153, 151, 151);
       -moz-box-shadow: inset 1px 1px 6px rgb(153, 151, 151);
            box-shadow: inset 1px 1px 6px rgb(153, 151, 151);
}

.nav a:hover {
    background: rgb(204, 41, 41);
    
}

.nav a:before, .nav a:after {
    content: "-";
    padding: 0 10px;
}

/* jumbotron */

.container {
    display: flex;
    justify-content: center;
    width: 75%;
}

.jumbotron {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 225px;
    width: 100%;
    margin-top: 25px;
    position: relative;
    background-image: url(../assets/top-image.png);
    background-size: 1100px 650px;
    background-repeat: no-repeat;
    background-position: -80px -125px;
    border: 5px solid white;
    box-shadow: 1px 2px rgb(153, 151, 151);
}

.jumbotron:after {
    content: "";
    height: 225px;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: 10;
    background-image: url(../assets/grid.png);
}

.jumbotron img {
    height: 75%;
    padding-left: 15px;
}

/* articles section */

.articles {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 50px 0;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    height: 225px;
    padding: 10px;
    text-align: left;
    width: 30%;
    box-shadow: 1px 2px rgb(153, 151, 151);
} 

.article:nth-child(2) {
    margin: 0px 8px;
}

.article h1 {
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 12px;
    line-height: 1.3em;
    height: 40%;
    color: rgb(59, 59, 59);
}

.date {
    color: rgb(214, 214, 214);
    font-weight: 200;
    font-size: 0.8rem;
    padding-bottom: 12px;
}

.article-text {
    height: 30%;
    color: rgb(138,138,138);
    font-weight: 200;
    font-size: 0.5rem;
    line-height: 2em;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.article a {
    align-items: flex-end;
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(158, 0, 28);
    padding-top: 12px;
}

/* skater profile section */

.profiles {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.profiles-left {
    display: flex;
    flex-direction: column;
    width: 68%;
}

.profiles-left-top {
    display: flex;
}

.profiles div {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.profiles a {
    color: white;
    text-decoration: none;
}

.lance {
    height: 150px;
    width: 100%;
    background-image: url(../assets/sk8er-4.png);
}

.rodney{
    height: 150px;
    width: 100%;
    margin: 0 8px 8px 8px;
    background-image: url(../assets/sk8er-3.png);
}


.steve {
    height: 150px;
    margin-right: 8px;
    background-image: url(../assets/sk8er-1.png);
}

.lance, .rodney, .tommy, .steve {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 2px rgb(153, 151, 151);
}

.tommy {
    height: auto;
    width: 32.5%;
    background-image: url(../assets/sk8er-2.png);
    background-position: -220px 0px;
}


/* boards section */

.boards-mobile {
    display: none;
}

.boards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 75%;
    margin: 40px 0;
    padding: 15px 0px;
    background: white;
    box-shadow: 1px 2px rgb(153, 151, 151);
}

.boards a {
    padding-left: 5px
}

.board img {
    width: 90%;
    height: auto;
}

/* contact section */

.contact-section {
    display: flex;
    height: 270px;
    width: 75%;
    background: white;
    margin-bottom: 70px;
    box-shadow: 1px 2px rgb(153, 151, 151);
}

.contact-info {
    width: 50%;
    color: rgb(138,138,138);
    padding: 25px;
}

.contact-info h3 {
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 12px;
    color: rgb(59, 59, 59);
}

.contact-info p {
    color: rgb(110, 110, 110);
    font-weight: 200;
    font-size: 0.8rem;
    line-height: 2em;
    padding-bottom: 12px;
}

.contact-section-icons>a img {
    height: 20px;
    margin: 2px;
}

.contact-form {
    width: 50%;
    padding: 25px;
}

::placeholder {
    color: rgb(153, 151, 151);
}

.contact-form form{
    position: relative;
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 5px;
    outline: 0;
    border: 2px solid rgb(201, 199, 199);
    border-top: 3px solid rgb(209, 209, 209);
    border-left: 3px solid rgb(153, 151, 151);
}

input[name="email"] {
    margin: 10px 0;
}

textarea {
    height: 70px;
}

button {
    position: absolute;
    top: 150px;
    right: 0;
    background: rgb(166, 53, 53);
    color: white;
    width: 60%;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    outline: 0;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 1px 0 rgb(153, 151, 151);
       -moz-box-shadow: 1px 1px 1px 0 rgb(153, 151, 151);
            box-shadow: 1px 1px 1px 0 rgb(153, 151, 151);
}

button:active {
    color: rgb(189, 189, 189);
    background: rgb(196, 69, 69);
    -webkit-box-shadow: inset 1px 1px 6px rgb(153, 151, 151);
       -moz-box-shadow: inset 1px 1px 6px rgb(153, 151, 151);
            box-shadow: inset 1px 1px 6px rgb(153, 151, 151);
    
}

/* media queries */ 
@media only screen and (max-width: 960px) {
    .article h1 {
        font-size: 1rem;
        height: 30%;
    }
}

@media only screen and (max-width: 800px) {
    .nav a:before, .nav a:after {
        content: none;
    }

    .profiles div {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 750px) {
    .contact-info p {
        line-height: 1em;
    }

    .jumbotron {
        background-position: 0 -125px;
        background-size: 1700px 650px;
        justify-content: center;
    }
}

@media only screen and (max-width: 640px) {
    .profiles, .profiles-left-top {
        flex-direction: column;
    }

    .tommy {
        height: 150px;
        background-position: 0px 0px;
    }

    .rodney, .lance, .steve, .tommy {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .profiles div {
        margin: 5px auto;
        width: 100%;
    }
    
    .articles {
        margin: 20px 0;
    }

    .article h1 {
        line-height: 1em;
    }

    .date {
        padding-bottom: 0px;
    }

    .boards {
        display: none;
    }

    .board {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .boards-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        width: 75%;
        margin: 20px 0;
        padding: 10px 0;
    }

    .boards-mobile h1 {
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 560px) {

    .article {
        height: 90px;
    }

    .article h1 {
        font-size: 0.8rem;
        padding-bottom: 0;
    }

    .article a {
        padding-top: 0;
        font-size: 0.7rem;
    }

    .article p {
        display: none;
    }

    .contact-section {
        height: 220px;
        margin-bottom: 20px;
    }

    .contact-info {
        padding: 10px 0 0 10px;
    }

    .contact-info h3 {
        font-size: 1rem;
    }

    .contact-form {
        padding: 10px 10px 0 0;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav a {
        font-size: 0.9rem;
    }
}
