body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/bg.jpg);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: sans-serif;
}

.master-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* header - nav */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub {
    text-decoration: none;
    color: white;
    margin-right:60px;
    font-size: 0.8rem;
}

.contact>a img {
    height: 40px;
    margin: 5px;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 0.7rem;
}

.nav ul li {
    background: rgb(166, 53, 53);
    width: 23%;
    padding: 7px 0;
    text-align: center;
    box-shadow: 1px 2px lightgray;
}

li:before, li:after {
    content: "-";
    padding: 0 10px;
}

/* jumbotron */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.jumbotron {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 225px;
    width: 75%;
    margin-top: 25px;
    position: relative;
    background-image: url(../assets/top-image.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -100px -100px;
    border: 5px solid white;
}

.jumbotron:after {
    content: "";
    height: 225px;
    width: 100%;
    position: absolute;
    opacity: 0.6;
    z-index: 10;
    background-image: url(../assets/grid.png);
}

.jumbotron img {
    height: 75%;
    padding-left: 15px;
}

/* articles section */

.articles {
    display: flex;
    justify-content: space-between;
    width: 76%;
    margin: 50px 0;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    height: 225px;
    padding: 10px;
    text-align: left;
    width: 30%;
} 

.article:nth-child(2) {
    margin: 0px 8px;
}

.article h1 {
    font-weight: 200;
    font-size: 1.3rem;
    padding-bottom: 12px;
    line-height: 1.3em;
    height: 40%;
}

.date {
    color: rgb(214, 214, 214);
    font-weight: 200;
    font-size: 0.8rem;
    padding-bottom: 12px;
}

.article-text {
    height: 30%;
    color: rgb(138,138,138);
    font-weight: 200;
    font-size: 0.5rem;
    line-height: 2em;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.article a {
    align-items: flex-end;
    text-align: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(158, 0, 28);
    padding-top: 12px;
}

/* skater profile section */

.profiles {
    display: flex;
    width: 76.5%;
    justify-content: space-between;
}

.profiles-left {
    display: flex;
    flex-direction: column;
    width: 68%;
}

.profiles-left-top {
    display: flex;
}

.profiles div {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.lance {
    height: 150px;
    width: 100%;
    background-image: url(../assets/sk8er-4.png);
}

.rodney{
    height: 150px;
    width: 100%;
    margin: 0 8px 8px 8px;
    background-image: url(../assets/sk8er-3.png);
}


.steve {
    height: 150px;
    margin-right: 8px;
    background-image: url(../assets/sk8er-1.png);
}

.lance, .rodney, .tommy, .steve {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tommy {
    height: auto;
    width: 32.5%;
    background-image: url(../assets/sk8er-2.png);
    background-position: -172px 0px;
}